<div class="image">
<div class="img-responsive">
	<div class="text text-center">
		<h1 class="h2 text-center">Read the thing that matters</h1>
		<%= link_to "Blog", articles_path, class: "btn btn-primary" %>
	</div>
	
</div>
</div>

<style>
	h2{
		color: whitesmoke;
	}
	.img-responsive{
		background-image: url('/slider.jpg');
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	.text{
		padding: 200px 0px;
	}

</style>